/* Botões em geral */
.btn-rustico, .btn-whatsapp {
  background-color: #d4af37; /* Cor dourada */
  color: #fff;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 8px; /* Borda arredondada */
  display: inline-block;
  transition: all 0.3s ease; /* Suaviza a transição */
  text-decoration: none;
  margin-top: 15px;
  width: auto; /* Tamanho adaptável */
}

.btn-rustico {
  background-color: #d4af37; /* Fundo dourado */
}

.btn-rustico:hover, .btn-whatsapp:hover {
  background-color: #b59b2d; /* Muda para um tom mais escuro ao passar o mouse */
  transform: translateY(-5px); /* Um pequeno efeito de elevação */
}

.btn-whatsapp {
  background-color: #25D366; /* Cor do WhatsApp */
}

.btn-whatsapp:hover {
  background-color: #128C7E; /* Muda para o tom mais escuro do WhatsApp */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .btn-rustico, .btn-whatsapp {
    width: 90%; /* Botão ocupa 90% da largura da tela em dispositivos móveis */
    padding: 12px 20px;
    font-size: 1rem; /* Ajusta o tamanho da fonte */
  }
}


